.dark-mode{
  background-color: #2c2a32;
}
.dark-mode .logo a{
  color: #fafafa;
}
.dark-mode nav a{
  color: #fafafa;
}
.dark-mode nav a:hover {
  color: #e5e5e5;
}
.dark-mode .portfolio-section h1{
  color: #fafafa;
}
.dark-mode .portfolio-section p{
  color: #fafafa;
}
.dark-mode .portfolio-section h2{
  color: #ebebeb;
}
.dark-mode .project-info p{
  color: #999999;
}

.dark-mode .portfolio-section a::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(161, 161, 161, 0.5);
  opacity: 0;
  z-index: 0;
  transition: opacity 0.3s ease-in-out;
}
.dark-mode .btn span{
  color: #fafafa;
}
.dark-mode .btn-3{
  background-color: #4c3a69;
}
.dark-mode .btn-3:hover {
  background-color: #4c3a69;
  box-shadow: 0px 0px #fafafa;
  top: 6px;
  left: 6px;
}
.dark-mode .btn-3:active {
  background-color: #4c3a69;
  box-shadow: 0px 0px #fafafa;
  top: 6px;
  left: 6px;
}
.dark-mode .btn:hover:before {
  width: 0px;
  height: 0px;
}

/*Dark Mode*/
.switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 27px;
  margin-top: 15px;
  border: solid 2px #fff;
  border-radius: 18px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: radial-gradient(circle,#fff 0,#a8ebfb 100%);
  transition: 0.25s;
  border-radius: 34px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 24px;
  width: 24px;
  left: 0px;
  bottom: 0.8px;
  background: linear-gradient(130deg,#ffc851 0,#fff0a4 45%,#ffc851 45%,#fcb045 100%);
  border: solid 0.1rem #ff9b04;
  transition: 0.25s;
  border-radius: 50%;
}



input:checked + .slider {
  background: radial-gradient(circle,#d5d5d5 0,#525065 100%);
}

input:focus + .slider {
}

input:checked + .slider:before {
  transform: translate(calc(2.9rem - 86%)) rotate(180deg);
  background: radial-gradient(circle,#fafbfb 40%, #e4e5e5 50%, #d0d1d1 60%);
  border: solid 0.1rem gray;
}

.slider:before {
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);

}

/*DarkMode*/
/*DarkMode*/



body {
        margin: 0;
        padding: 0;
        width: 100%;
        font-family: Inter, sans-serif;
        background: #fef8b4;

        background-size: cover;
        background-repeat: no-repeat;
      }

      /* Header styles */
      header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0.7rem;
      }

      .logo a {
        font-family: 'jenthill';
        font-size: 2.8rem;
        color: #6fdcbf;
        text-decoration: none;
        margin-left: 13px;
      }
      .logo img {
          margin-left: 20px;
          margin-top: 10px;
          height: 85px;
        }

        nav {
          display: flex;
          justify-content: flex-end;
          align-items: center;
          margin-right: 20px;
        }
        nav ul {
        display: flex;
        list-style: none;
        margin: 0;
        padding: 0;
      }
        nav li {
        margin-right: 2px;
        margin-left: 23px;
        margin-top: 4px;
      }

        nav li:first-child {
          margin-left: 0;
        }

        nav a {
          color: #333;
          text-decoration: none;
          font-size: 1.3rem;
          font-weight: bolder;
          position: relative;
        }

        nav a::before {
          content: "";
          position: absolute;
          bottom: -6px;
          left: 0;
          width: 100%;
          height: 2px;
          background-color: #90B4C6;
          transform: scaleX(0);
          transition: transform 0.3s ease-in-out;
        }


        nav a:hover {
          color: #666;
        }

        ul {
        list-style: none ;
        margin: 0;
        padding: 0;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        grid-gap: 2rem;
      }

      li {
        margin-bottom: 2.3rem;
      }

      li a {
        display: block;
        margin-top: 16px;
        color: #333;
        text-decoration: none;
        font-size: 19px;
        }

        li a:hover {
          color: #666;
        }


p {
    font-family: 'Mosk', sans-serif;
    font-weight: bold;
    font-size: 0.8rem ;
    line-height: 1.5;
    margin-bottom: 1rem;
}



.btn {
  display: inline-block;
  padding: 17px 20px;
  margin-top: 4rem; 
  margin-right:0.8rem ;
  position: relative;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: bold;
  letter-spacing: 2px;
  overflow: hidden;
  z-index: 1;

}

.btn span {
  color: #404040;
  display: block;
  position: relative;
  z-index: 2;

}

.btn:before {
  content: '';
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 0;
  height: 0;
  background: rgba(255,255,255,0.2);
  z-index: -1;
}

.btn:hover:before {
  width: 100px;
  height: 100px;
}

.btn-3 {
  background-color: #f3f3f3;
  color: #fff;
  box-shadow: 5px 5px #404040;
}

.btn-3:hover {
  background-color: #f7f7f7;
  box-shadow: 0px 0px #404040;
  top: 6px;
  left: 6px;
}

.btn-3:active {
  background-color: #f7f7f7;
  box-shadow: 0px 0px #404040;
  top: 6px;
  left: 6px;
}




/*main styles*/
/* Стили для основного контейнера */


main {
  max-width: 1200px;
  margin: 0 auto;
  padding: 60px 30px;
}

/* Стили для секции */
section {
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

/* Стили для заголовка */
.portfolio-section h1 {
  color: #404040;
  font-weight: bolder;
  font-size: 3.5rem;
  margin-bottom: 20px;
  margin-left: 1rem;
}

/* Стили для описания */
.portfolio-section p {
  color: #404040;
  font-size: 1.125rem;
  margin-top: 1px;
  margin-left: 19px;
  margin-right: 4rem  ;
}

/* Стили для списка проектов */
.portfolio-section ul {
  display: flex;
  justify-content: center;
  list-style: none;
  padding: 0;
    margin-bottom:  0.7rem;
    margin-top:   1.1rem;
}

/* Стили для элементов списка */
.portfolio-section li {
  margin: 0 20px 40px;
  width: calc(33.33% - 10px);
  margin-bottom: 20px;
}

/* Стили для ссылок */
.portfolio-section a {
  text-decoration: none;
  display: block;
  position: relative;
  overflow: hidden;
  border-radius: 10px;
  border: 1px solid #404040;

  transition: all 0.3s ease-in-out;
}

/* Стили для изображений */
.portfolio-section img {
  width: 100%;
  height: auto;
  object-fit: cover;
  transition: all 0.3s ease-in-out;
}

 /*Стили для заголовков*/
.project-info h2 {
  font-size: 1.5rem;
  margin: 20px 0 10px;
  color: #333;
}



/* Стили для описаний проектов */
.project-info p {
  font-size: 1rem;
  margin: 10px 0;
  color: #666;
}

/* Стили для анимации при наведении на элементы */
.portfolio-section a:hover img {
  transform: scale(1.1);
}

.portfolio-section a::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.5);
  opacity: 0;
  z-index: 0;
  transition: opacity 0.3s ease-in-out;
}

.portfolio-section a:hover::before {
  opacity: 1;
  z-index: -1;

}

/* Стили для перехода по ссылкам */
.portfolio-section a:hover {
  transform: translateY(-5px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}





      /* Стили для скроллбара */
        ::-webkit-scrollbar {
          width: 14px; /* ширина скроллбара */
        }

        ::-webkit-scrollbar-track {
          background-color: #fff; /* цвет фона трека скроллбара */
        }

        ::-webkit-scrollbar-thumb {
          background-color: #6fdcbf; /* цвет ползунка скроллбара */
          border-radius: 15px; /* радиус скругления углов ползунка */
          border: 0px solid #fff; /* граница ползунка */
        }

        ::-webkit-scrollbar-thumb:hover {
          background-color: #6fdcbf; /* цвет ползунка при наведении курсора */
        }


.footer-container {
  padding: 0.1px;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 0px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  flex-grow: 1;
}

